<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
</head>
<body>
    <div data-pagefind-ignore>
        <h1>Bezig met doorsturen naar PDF...</h1>
        <p>Als je niet wordt doorgestuurd, <a href="https://jouw-bucket.s3.amazonaws.com/{{ .File.BaseFileName }}.pdf">klik dan hier</a>.</p>
    </div>

    <article style="display:none;">
        <h1 data-pagefind-meta="title">{{ .Title }}</h1>
        <div data-pagefind-body>
            {{ .Content }}
        </div>
        <a data-pagefind-meta="url[href]" href="https://jouw-bucket.s3.amazonaws.com/{{ .File.BaseFileName }}.pdf">Link</a>
    </article>

    <script>
        window.location.href = "https://jouw-bucket.s3.amazonaws.com/{{ .File.BaseFileName }}.pdf";
    </script>
</body>
</html>
